.Dropdown {
  width: 100%;
  display: grid;
  grid-template-columns: 8rem auto;
  margin-bottom: 1rem;
  align-items: center;
}

.Dropdown__select {
  font-size: 1rem;
  padding: 0.5rem;
}

.Dropdown__label {
  font-size: 1rem;
}
