.Dropdown {
  width: 100%;
  display: grid;
  grid-template-columns: 8rem auto;
  margin-bottom: 1rem;
  align-items: center;
}

.Dropdown__select {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  direction: rtl;
  appearance: none;
  text-align: right;
}

.Dropdown__select > option {
  text-align: right;
}

.Dropdown__label {
  font-size: 1rem;
}
