.ProductTableHeader {
  font-weight: 700;
  display: inline-grid;
  grid-template-columns: 7rem 4rem auto;
  grid-template-rows: auto;
  padding: 0.5rem;
  border-bottom: 1px solid #888;
  width: 100%;
}

.ProductTableHeader:last-child {
}
