.ContainerHeader {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.ContainerHeader__title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  width: 100%;
}

.ContainerHeader__description {
  width: 100%;
  font-size: 0.9rem;
  font-style: italic;
  color: #555;
  margin-bottom: 0.5rem;
}
