.InputWithLabel {
  display: grid;
  grid-template-columns: 8rem auto;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
}

.InputWithLabel__label {
  font-size: 1rem;
}

.InputWithLabel__input {
  padding: 0.5rem;
  width: 100%;
}
