.react-tooltip-lite {
  height: 335px;
  border: 1px solid #333;
  background-color: #fff;
}

.react-calendar__navigation__arrow {
  font-size: 2rem;
}

.DatePicker__input {
  padding: 0.5rem;
  width: 100%;
  text-align: right;
  border-radius: 4px;
}

.DatePicker__label {
  align-items: center;
}

.DatePicker {
  display: grid;
  margin-bottom: 1rem;
  align-items: center;
}
