.ContainerWrapper {
  padding: 2rem;
}

.ContainerWrapper__wrapper {
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.15);
}
